body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-valiation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}

.Extremely-Low {
      padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #b94a48;
  background-color: #F6B2B2;
  border-color: #eed3d7;
}

.Moderately-Enough {
      padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
   color: #c09853;
  background-color: #F7CE91;
  border-color: #fbeed5;
}

.Adequate {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #468847;
    background-color: #98F791;
    border-color: #d6e9c6;
}